@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('images/home-bg.webp')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <div class="site-heading">
                    <h1>@ViewData["Title"]</h1>
                    <span class="subheading">
                        @*                         To undertake the endeavors of life with the awareness of its impermanence,
                        To live an optimistic life with a contemplative acceptance of its sorrows. *@
                        以无生之觉悟为有生之事业，以悲观之心情过乐观之生活。
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<p>Use this page to detail your site's privacy policy.</p>
