@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../images/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>偶尔勤快的烂笔头</h1>
                    <span class="subheading">以无生之觉悟为有生之事业，以悲观之心情过乐观之生活。</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <p>Cookie<br />
        大多数使用 Cookie，它是放置在设备上的小文本文件，可供域中放置 Cookie 的 Web 服务器稍后检索这些小文本文件。 我们使用 Cookie 来存储你的首选项和设置、帮助登录、提供定向广告，以及分析站点运行。 有关详细信息，请参阅本隐私声明的Cookie 和类似技术部分。
        <p>联系我们<br />
        如果你有隐私担忧、投诉或问题要询问，请通过 Web 表单联系。</p>
    </div>
</div>
