# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build

on:
  push:
    branches: [ "support/v1.6.x" ]
  pull_request:
    branches: [ "support/v1.6.x" ]
  workflow_dispatch: 

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore abcsxl.sln
    - name: Build
      run: dotnet build --no-restore abcsxl.sln
    - name: Test
      run: dotnet test --no-build --verbosity normal abcsxl.sln
