# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "support/v1.7.x" ]
  pull_request:
    branches: [ "support/v1.7.x" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.0.x
    - name: Restore dependencies
      run: dotnet restore abcsxl.sln
    - name: Build
      run: dotnet build abcsxl.sln --no-restore
    - name: Test
      run: dotnet test abcsxl.sln --no-build --verbosity normal
